/vendor
/node_modules
/bower_components
/config/packages.json
config/packages.json
composer.lock

/database/migrations/*
/database/seeds/*
!/database/migrations/ensphere/ensphere/*
!/database/seeds/ensphere/ensphere/*