#ensphere-vendor-ignore-start
.env
.DS_Store
.idea
/vendor
/node_modules
/bower_components

/bower.json
/public/vendor/**/*
/public/javascripts.js
/config/packages.json
/public/stylesheets.css
/resources/views/loader.blade.php
/EnsphereCore/ensphere-external-assets.json
/database/migrations/vendor/*
/database/seeds/vendor/*
/public/package/**/*
!/public/package/purposemedia/
!/public/package/purposemedia/admin-feeds/
!/public/package/purposemedia/admin-feeds/**/*
#ensphere-vendor-ignore-end
