<?php namespace {{NAMESPACE}}\Contracts;

use {{NAMESPACE}}\Contracts\Blueprints\{{NAME}} as Blueprint;
use {{NAMESPACE}}\Models\{{SINGLE}};
use {{NAMESPACE}}\Http\Requests\{{EDIT_REQUEST}};
use {{NAMESPACE}}\Http\Requests\{{CREATE_REQUEST}};

class {{NAME}} extends Contract implements Blueprint {

	/**
	 * [__construct description]
	 * @param {{NAME}} $model [description]
	 */
	public function __construct( {{SINGLE}} $model )
	{
		$this->model = $model;
	}

	/**
	 * [index description]
	 * @param  [type] $controller [description]
	 * @return [type]             [description]
	 */
	public function index( $controller )
	{
		$controller->setLayoutView( view( '{{CAMEL_PLURAL}}.index', [
			'{{CAMEL_PLURAL}}' => $this->model->orderBy('name')->paginate( 20 )
		]));
	}

	/**
	 * [showEditPage description]
	 * @param  [type] $controller [description]
	 * @param  [type] ${{IDNAME}}     [description]
	 * @return [type]             [description]
	 */
	public function {{SHOW_EDIT_METHOD}}( $controller, ${{IDNAME}} )
	{
		${{CAMEL_PLURAL}} = $this->model->findOrFail( ${{IDNAME}} );

	}

	/**
	 * [showCreatePage description]
	 * @return [type] [description]
	 */
	public function {{SHOW_CREATE_METHOD}}( $controller )
	{

	}

	/**
	 * [{{EDIT_METHOD}} description]
	 * @param  [type]          $controller [description]
	 * @param  EditPageRequest $request    [description]
	 * @param  [type]          $pageID     [description]
	 * @return [type]                      [description]
	 */
	public function {{EDIT_METHOD}}( $controller, {{EDIT_REQUEST}} $request, ${{IDNAME}} )
	{
		${{CAMEL_PLURAL}} = $this->model->findOrFail( ${{IDNAME}} );

		return $controller->success( '{{SINGLE}} successfully edited');
	}

	/**
	 * [{{CREATE_METHOD}} description]
	 * @param  [type]            $controller [description]
	 * @param  CreatePageRequest $request    [description]
	 * @return [type]                        [description]
	 */
	public function {{CREATE_METHOD}}( $controller, {{CREATE_REQUEST}} $request )
	{
		return $controller->success( '{{SINGLE}} successfully created. You can <a href="' . route( 'get.{{CAMEL_PLURAL}}.edit', ${{CAMEL_SINGULAR}}->id ) . '">edit it here</a>.');
	}

	/**
	 * [{{DELETE_METHOD}} description]
	 * @param  [type] ${{IDNAME}} [description]
	 * @return [type]         [description]
	 */
	public function {{DELETE_METHOD}}( $controller, ${{IDNAME}} )
	{
		${{CAMEL_SINGULAR}} = $this->model->findOrFail( ${{IDNAME}} );
		${{CAMEL_SINGULAR}}->delete();
		return $controller->success( '{{SINGLE}} successfully deleted.', redirect( route( 'get.{{CAMEL_PLURAL}}' ) ) );
	}

	/**
	 * [menuItems description]
	 * @return [type] [description]
	 */
	public function menuItems()
	{

	}

}