<?php namespace {{NAMESPACE}}\Models;

use Illuminate\Database\Eloquent\Model;
use {{NAMESPACE}}\Observers\ModelEventThrower;

class {{NAME}} extends Model
{

	use ModelEventThrower;

	protected $guarded = ['id'];

}