/* Project shared styles */

.trans {
  transition: all .2s ease-in-out;
}

/* Coming soon overlay */
.coming-soon {
  position: relative;
  cursor: not-allowed;
  &:hover {
    &::after {
      content: 'Coming Soon'!important;
      background: $yellow!important;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 13px;
      color: black;
      font-family: 'din-med';
      text-transform: uppercase;
      padding: 10px;
      width: 110px;
      text-align: center;
    }
  }
}

/* transitions on links */
a {
  transition: all .2s ease-in-out;
}

/* Center anything vertically and horizontally */
.centered-parent {
  position: relative;
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Center anything just horizontally */
.centered-parent {
  position: relative;
  .centered-hor {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* Page overlay */
.page-overlay {
  display: none;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  opacity: 0.9;
}


/* Page headers/titles */

.page-header {
  background: black;
  padding: $base-space 0;
  @media(--tablet) {
    background: #f3f3f3;
  }

  .page-title {
    color: white;
    margin-bottom: 0;
    font-size: 3.0rem;
    @media(--phablet) {
      font-size: 4.0rem;
    }
    @media(--tablet) {
      font-size: 5.0rem;
      color: black;
    }
    @media(--wide) {
      font-size: 6.0rem;
    }
  }
  .page-subtitle {
    display: block;
  }
}


/* Blockquote */
blockquote {
  font-size: 3.0rem;
  line-height: 1.25;
  @media(--tablet) {
    padding-left: 100px;
  }
  @media(--desktop) {
    font-size: 3.6rem;
  }
  @media(--wide) {
    font-size: 4.0rem;
  }
  p {
    margin-bottom: 0;
    font-family: 'din-lt';
  }
  cite {
    font-family: 'din-bold';
    font-style: normal;
    font-size: 2.4rem;
  }
  margin: $base-space--double 0;
}

/* Derby County always in BBG typeface */
.dcfc-name {
  font-family: 'bbg'!important;
  text-transform: uppercase!important;
}


/*  Shared page styles for full width and sidebar pages  */


.page-heading {
  padding: $base-space 0;
  background: black;
  @media(--desktop) {
    background: $light;
    padding: $base-space--double 0;
  }
  h1 {
    margin-bottom: 0;
    font-family: 'bbg';
    text-transform: uppercase;
    color: white;
    @media(--desktop) {
      font-size: 5.0rem;
      color: black;
    }
  }
}

.page-content {
  padding: $base-space--double 0;

  .main-content {
    lost-column: 1/1;
  }
  

  &--left-sidebar {
    .main-content {
      @media(--desktop) {
        float: right!important;
        lost-column: 3/4;
      }
    }
    .left-sidebar {
      @media(--desktop) {
        float: left!important;
        padding-right: 30px!important;
        lost-column: 1/4;
      }
    }
  }
  
  &--right-sidebar {
    .main-content {
      @media(--desktop) {
        lost-column: 3/4;
      }
    }
    .right-sidebar {
      @media(--desktop) {
        lost-column: 1/4;
      }
    }
  }


  .right-sidebar,
  .left-sidebar {
     ul {
      clear: both;
      list-style: none;
       > li {
        font-family: 'din-med';
        transition: all .2s ease-in-out;
        border-radius: 3px;
         > a {
          display: block;
          color: black;
          padding: $base-space--half 0;
          border-bottom: 1px solid $bgrey;
          &:hover, .active {
            padding: $base-space--half;
            &:before {
              content: '❯ ';
              color: $grey9;
            }
          }
        }
        > ul {
          > li {
            font-family: 'din-reg';
            > a {
              display: block;
              padding: $base-space--half;
              &:hover {
                padding-left: $base-space;
              }
            }
          }
        }
      }
    }
  }


} /* .page-content */


.site-header {
  position:relative;
  #search-results {
    border-bottom: 1px solid white;
    p.heading {
      color: white;
      font-size: 22px;
      font-family: din-med;
    }
    padding: 40px 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: black;
    .ais-hits--item,
    .ais-hits.ais-hits__empty {
      color: white;
      margin-bottom: 7px;
      em {
        font-weight:600;
        text-decoration: underline;
      }
    }
    .results-column {
      lost-column: 1/4;
      img {
        border: 1px solid white;
        margin-right: 10px;
      }
      a, a:visited {
        display: block;
        color: white;
        &:hover {
          color: #55A99E;
        }
        span {
          display: inline-block;
          max-width: calc( 100% - 70px );
        }
      }
    }
  }
}


/* Site Search */
.site-search {
  overflow: hidden;

  @media(--huge) {
    margin-top: $base-space;
  }
  
  #search-box-algolia {
    background: rgba(255,255,255,0.8);
    padding: $base-space;
    border-radius: 10px;
    font-size: 20px;
    &:hover, &:focus {
      background: rgba(255,255,255,1);
    }
  }

  #search-results {
    background: white;
    padding: $base-space--double $base-space--half;
    border-radius: 10px;

    .results-column {
      margin-bottom: $base-space;
      @media(--desktop) {
        lost-column: 1/3 3;
      }
      .heading {
        font-family: 'bbg';
        text-transform: uppercase;
        font-size: 30px;
        margin-bottom: $base-space--half;
      }
      .ais-hits--item {
        margin-bottom: $base-space--half;
        a {
          display: block;
          color: black;
          font-family: 'din-med';
          &:hover {
            color: $accent;
          }
          img {
            border-radius: 100px;
            margin-right: $base-space--quarter;
          }
        }
      }
    }

  }

}/* .site-search */


/* Page Headers With Background */

.page-header.page-header--with-background {
  position: relative;
  h1 {
    color: white;
  }
  @media(--tablet) {
    background: url('../images/page-header-generic.png') no-repeat right top;
    background-size: cover;
    height: 100px;
    h1 {
      color: black;
      font-size: 5rem;
    }
  }
  @media(--desktop) {
    height: 150px;
    h1 {
      margin-top: calc($base-space + $base-space--half);
      font-size: 5rem;
    }
  }
  @media(--wide) {
    height: 200px;
    h1 {
      margin-top: calc($base-space--double + $base-space--half);
      font-size: 6rem;
    }
  }
  @media(--huge) {
    height: 250px;
    h1 {
      margin-top: calc($base-space--triple + $base-space--half);
      font-size: 7]
      rem;
    }
  }

}

.white-text {
  color: #fff !important;
}




/* Sidebar sticky to top */
.left-sidebar,
.right-sidebar {
  //transition: all .2s ease-in-out;
}

.left-sidebar.is_stuck,
.right-sidebar.is_stuck {
  //padding-top: 120px;
}

#toptixIframe {
  //position: absolute;
  //bottom: 0;
  //left: 0;
  //z-index: -1;
}
